.example-card {
    max-width: 180px;
    margin: 0 auto auto auto;
  }
  
  .example-header-image {
    background-image: url('https://bcassetcdn.com/asset/logo/e33c12b4-1128-4129-b31f-2c31cb0878c7/logo?v=4&text=Logo+Text+Here');
    background-size: cover;
  }
  #about-card{
    margin: auto;
    
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
  }
  @media only screen and (max-width: 650px) {
    #about-card{
        margin: auto;
        
        display: grid;
        grid-template-columns: auto;
        
      }
  }